###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.unity binary
*.prefab binary
*.asset binary
