<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSCore" version="1.2.1.1" targetFramework="net45" />
  <package id="MathNet.Filtering" version="0.3.0" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.17.0" targetFramework="net45" />
  <package id="MathNet.Numerics.MKL.Linux" version="2.0.0" targetFramework="net45" />
  <package id="MathNet.Numerics.MKL.Win" version="2.2.0" targetFramework="net45" />
  <package id="MathNet.Spatial" version="0.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
</packages>